.progress {
    margin-top: 1em;
}

.content,
.box-body {
    padding: 10px 40px;
}

#usl-actionButton, #lsl-actionButton {
    margin-top: 25px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}